body{
    color: blueviolet;

}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:25px;

}
#background-video{
    position: fixed;
    right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
   object-fit: cover; /* fills the screen without stretching oddly */
  z-index: -1; /* pushes video behind other content */
}
